
.background-day {
  background-image: url('https://i.imgur.com/5LaaFse.jpg');
  height: 100vh;
  background-size: cover;
}

.background-night {
  background-image: url('https://external-preview.redd.it/JRbrwhI6yMhJiomdFCNJn6IH399Uo7SbHusOnXT8-uM.jpg?auto=webp&s=12a668dff56e9993dd27065ae673189b37189084'); 
  height: 100vh;
}

.show-card {
  color: darkcyan;
  display: inline;
}

.no-card {
  display: none;
}
